/* CSS files add styling rules to your content */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body {
  margin: 0;
}


.title {
  font-family: 'karla';
  padding: 2em;
  margin-bottom: 2em;
  background: black;
  color: white;
}

.info {
 font-family: 'space mono';

}

.content{
  font-family: 'space mono';
  width: 36rem;
  padding: 3rem;
  margin-bottom: 3rempx;
  float: left;
  border: 0.2rem solid #bcbcbc;
}

.h2{
    color:antiquewhite;
    background-color: aqua;
    width: 16rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    float: right;
    border: 1px solid #bcbcbc;
}
.side{
    width: 10.25rem;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    float: right;
    border: 0.4rem solid #f7dbdb;
}
.img {
    width: 100%;
    height: auto;
  }

/* target only screens up to 767px */
@media only screen and (max-width: 767px){
    
    .body{
        background-color: beige;
        border: 0.8rem solid #3e6a55;
      }

    .title {
        font-family: 'karla';
        padding: 0.6rem;
        margin-bottom: 1.5rem;
        background-color: #060505;
        color: white;
      }
 
   .info{
    background:rgb(35, 63, 44);
    color: white;
      }

  .content{
    font-family: 'space mono';
    width: 36rem;
    padding: 2rem;
    margin-left: 3rem;
    margin-bottom: 1.25rem;
    float: left;
    border: 2rem solid #3e6a55;
      }
}




/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
   
    .title {
        font-family: 'karla';
        width: auto;
        border: 2rem solid #375df4;
        background-color: #bcbcbc;
        color: white;
      }
    .info{
        background:rgb(206, 132, 132);
        color: rgb(255, 255, 255);
        width: auto;
        float: none;
    }
  

     .content{
        width: auto;
        float: none;
       font-family: 'space mono';
       width: 18.75rem;
       padding: 2rem;
       margin-bottom: 1.4px;
       float: left;
       border: 3px solid #000000;
         }
  
}




