/* CSS files add styling rules to your content */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

body {
  margin: 0;
}
.img{
  max-width: 100%;
}

.title {
  padding: 1em;
  margin-bottom: 1em;
  background: black;
}

h1{
  font-size:2.5rem;
  font-family: 'karla';
  text-align: center;
  color: white;
}

.info {
 font-family: 'space mono';
  margin-bottom:3rem;
  margin-top: 4rem;
  width: 70rem;
  margin-left: 17rem;
}
h2{
    color:rgb(92, 92, 92);
    background-color: rgb(255, 255, 255);
    width: 14rem;
    padding: 1rem;
    margin-bottom: 1rem;
    float: center;
    
    margin-left:3rem;
}
.content{
  font-family: 'space mono';
  width: 23rem;
  padding: 2.2rem;
  margin-left: 22rem;
  margin-top: 5rem;
  float: left;
  border: 0.1rem solid #bcbcbc;
}


.side{
    width: 25.25rem;
    margin-right: 20rem;
    margin-bottom: 3rem;
    float: right;
    color: rgb(255, 255, 255);
    box-shadow: 0.1rem 1rem 2rem #1d1d1d;
}
.side1{
  width: 80.25rem;
  margin-left: 14rem;
  margin-top: 2rem;
  color: rgb(255, 255, 255);
  box-shadow: 0.1rem 1rem 2rem #1d1d1d;
}



/* target only screens up to 767px */
@media only screen and (max-width: 767px){
    
  body{
        background-color: rgb(207, 174, 174);
        border: 1rem solid #22362c;
      }

    .title {
        font-family: 'karla';
        padding: 0.6rem;
        margin-bottom: 1.5rem;
        background-color: #22362c;
      }
    h1{
      font-size:4rem;
      color:#b7c5ff;
       text-shadow: 2px 2px 5px green;
    }
 
   .info{
    
    color: rgb(123, 68, 68);
    width: 27rem;
    margin-left: 10rem;
      }
 
  .content{
    font-family: 'space mono';
    width: auto;
    padding: 2rem;
    margin-left: 1rem;
    margin-top: 0.25rem;
    float: auto;
   
      }
      h2{
        color: #3e6a55;
        background-color: #e37f7f;
        width: 30rem;
        font-size: 3rem;
        text-shadow: 2px 2px 5px green;
    }
    .side{
      width: 100%;
      margin-left: 2rem;
      margin-top: 2rem;
      margin-right: 3rem;
    }
    .side1{
      width: 100%;
      margin-left: 1rem;
      margin-top: 2rem;
      margin-right: 3rem;
   
     }

    }





/* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
   
  body{
    width: 100%;
    background-color: rgb(19, 19, 19);
    border: 1rem solid #ffffff;
  }
    .title {
      width: 100%;
        font-family: 'karla';
        width: auto;
        border: 1.2rem solid #aae43d;
        background-color: #e34444;
      }

      h1{
        font-size:4rem;
        color:#0e0e0e;
        border: 1.2rem solid #aae43d;

      }

    .info{
        color: rgb(207, 208, 149);
        margin-left: 1rem;
        width: 24rem;
    }

     .content{
        width: auto;
        float: none;
       font-family: 'space mono';
       width:auto;
       padding: 2rem;
       margin-bottom: 1rem;
       margin-left: 0.01rem;
       float:none;
       color: #fffdfd;
       border: 3px solid #c6ee56;
         }

         h2{
          color: #3e6a55;
          width: 13rem;
          font-size: 1rem;
          background-color: #ffffff;
      }
      .side{
        width: 100%;
        margin-left: 1rem;
        margin-top: 2rem;
        margin-right: 3rem;
      }

      .side1{
        width: 100%;
        margin-left: 1rem;
       margin-top: 0;
        margin-right: 3rem;
     
       }
  
}




